/*:not(.mobileVer) 부분은 자동정렬하면 띄어쓰기가 들어가서 무효가 되므로 주의!  */
@media screen and (max-width: 767px) {
	:not(.mobileVer ) .board__content>[data-content-height=default] {
		height: 70vh;
		min-height: 620px;
	}
	:not(.mobileVer ) .board__content>[data-content-height=small] {
		height: 60vh;
		min-height: 310px;
	}
}

@media screen and (min-width: 768px) {
	:not(.mobileVer ) .board__content>[data-content-height=default] {
		height: 70vh;
		min-height: 70vh;
	}
	:not(.mobileVer ) .board__content>[data-content-height=small] {
		height: 60vh;
		min-height: 60vh;
	}
}

@media screen and (orientation:landscape) {
	.mobileVer .board__content>[data-content-height=default] {
		height: 70vh;
		min-height: 420px;
	}
	.mobileVer .board__content>[data-content-height=small] {
		height: 70vh;
		min-height: 400px;
	}
}

@media screen and (orientation:portrait) {
	.mobileVer .board__content>[data-content-height=default] {
		height: 45vh;
		min-height: 420px;
	}
	.mobileVer .board__content>[data-content-height=small] {
		height: 45vh;
		min-height: 400px;
	}
}

#boardListCollapse {
	width: 100%;
	margin-right: 0;
	margin-left: 0;
}

.search {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.board {
	display: flex;
	flex-wrap: wrap;
	height: auto;
	margin-bottom: 10px;
}

.content__noData {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	text-align: center;
	transform: translate(-50%, -50%);
	font-size: 1.5rem;
}

.content__noData::after {
	content: "-NO DATA-";
}

.board .board__content {
	display: none;
}

.board--showContent .board__content {
	display: flex;
}

.board__hideContent {
	display: none;
}

.board [id*=carousel] {
	height: 100%;
}

.board__header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}

.board__header>div {
	width: 100%;
}

.board__description {
	padding: 0;
}

.board__description>div {
	flex-grow: 1;
}

.board>div:first-of-type {
	width: 100%
}

.board__boardName {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.board__content {
	margin-right: 0;
	margin-left: 0;
	padding: 10px;
}

.mobileVer .board__content>[class*=col-] {
	padding-right: 3px;
	padding-left: 3px;
}

.mobileVer .board__description {
	padding: 0;
}

.content__setting hr {
	margin: 5px;
	border: 1px solid lightgrey;
}

.board__userOpinion {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100%;
}

.board__opinionGraph {
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	display: flex;
}

.board__evalWrapper {
	position: absolute;
	top: 90%;
	width: 100%;
	background: aliceblue;
}

.board__evalWrapper fieldset {
	display: none;
}

.board__evalWrapper--show {
	bottom: 0px;
	top: unset;
}

.board__evalWrapper--show fieldset {
	display: block;
}

.card-body {
	background: aliceblue;
}

.board__info {
	display: flex;
}

.board__progress {
	height: 100%;
}

.board__siteName,.board__contentBtn,.board__addFavorite {
	flex-shrink: 1;
}

.board__contentBtn {
	display: block;
}

.board__contentBtn--selected {
	display: none;
}

.board__info>div:last-child {
	display: flex;
	justify-content: end;
}

.board__progress>.progress-bar {
	position: relative;
	width: 100%;
}

[class*=board__progressInner] {
	position: absolute;
	height: 100%;
	top: 50%;
	transform: translate(0, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
}

.board__progressInner--positive {
	position: absolute;
	left: 0;
	bottom: 0;
	background: #28a745;
}

.board__progressInner--negative {
	position: absolute;
	right: 0;
}

.board__articleSample {
	height: 90%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.board__articleSample tr:last-of-type td {
	display: flex;
	justify-content: center;
}

.board__articleSample caption {
	caption-side: top;
	font-weight: bold;
}

.boardSearchOption {
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: center;
}

.boardSearchOption__buttonWrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.board__popularTag {
	cursor: pointer;
}

.timeSetList {
	display: none;
}

.article {
	width: 100%;
}

.article>td:nth-of-type(1) {
	width: 20%;
}

.article>td:nth-of-type(2) {
	width: 70%;
}

.article>td:nth-of-type(2)>a {
	display: block;
}

.article>td:nth-of-type(3) {
	width: 10%;
}