.comment--my {
	background: khaki;
}

.comment td:nth-of-type(1),.comment td:nth-of-type(2),.comment td:nth-of-type(4),.comment td:nth-of-type(5)
	{
	width: 10%;
}

.board .comment td:nth-of-type(1),.board .comment td:nth-of-type(2),.board .comment td:nth-of-type(4),.board .comment td:nth-of-type(5)
	{
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	padding-right: 0px;
}

.comment td:nth-of-type(3) {
	width: 60%
}

.commentTable__head th:nth-of-type(1),.commentTable__head th:nth-of-type(2),.commentTable__head th:nth-of-type(4),.commentTable__head th:nth-of-type(5)
	{
	width: 10%;
}

.board .commentTable__head th:nth-of-type(1),.board .commentTable__head th:nth-of-type(2),.board .commentTable__head th:nth-of-type(4),.board .commentTable__head th:nth-of-type(5)
	{
	text-align: center;
	padding: 0px;
}

.commentTable__head th:nth-of-type(3) {
	width: 60%
}

.board .commentTable__head th:nth-of-type(3) {
	padding-top: 0;
	padding-bottom: 0;
}

.board .commentTable {
	border-collapse: collapse;
	width: 100%;
}

.commentTable__sortWrapper {
	display: inline-block;
}

.commentTable__sortElement {
	display: none;
}

.commentTable__sortElement--selected {
	display: inline-block;
	color: crimson;
}

.commentTable caption {
	text-align: right;
	caption-side: top;
}

.board .commentTable tbody {
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
	height: 300px;
}

.commentTable tr {
	table-layout: fixed;
	width: 100%;
	display: table;
}

.comment__evalItem--selected {
	margin-right: 2px;
}

.commentTable__head {
	width: inherit;
	display: table;
}