@charset "EUC-KR";

/* --------------------------------------global--------------------------------------- */
@media screen and (max-width: 767px) {
	[data-type=graph] {
		min-height: 400px;
	}
	[data-type=graphMenu] {
		height: auto;
	}
	[data-type=graphContent] {
		min-height: 300px;
		height: 100%;
	}
	.articleNumChart [data-type=graphContent],.categoricalChart [data-type=graphContent] {
		min-height: 260px;
		height: 100%;
	}
}

@media screen and (min-width: 768px) {
	[data-type=graph] {
		min-height: 400px;
	}
	[data-type=graphMenu] {
		height: auto;
	}
	[data-type=graphContent] {
		min-height: 340px;
		height: 100%;
	}
	.articleNumChart [data-type=graphContent],.categoricalChart [data-type=graphContent] {
		min-height: 300px;
		height: 100%;
	}
}

[data-type=main_graph] {
	height: 90vh !important;
}

.mobileVer [data-type=main_graph] {
	height: 90vmax !important;
	max-height: 500px;
}

[data-type=main_graph] {
	width: 100% !important;
	visibility: hidden;
	position: absolute !important;
	left: 0;
	top: 0;
}

[data-type=main_graph].show {
	visibility: visible;
	position: relative !important;
	left: auto;
	top: auto;
}

/* --------------------------------------chartObj--------------------------------------- */
.chart {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.chartObj__menu>.option {
	height: 100%;
}

.chart>.chart__content {
	display: flex;
	align-items: end;
	position: relative;
}

.chart__htmlTooltip {
	background: rgba(0, 0, 0, 0.7);
	border-radius: 3px;
	color: white;
	opacity: 1;
	pointer-events: none;
	position: absolute;
	transform: translate(-50%, 0);
	transition: all .1s ease;
}

.chart__htmlTooltip table {
	margin: 0px;
}

.chart__initData {
	display: none;
}

[data-content]:hover .option__hoverMenuWrapper,#chartModal:hover .option__hoverMenuWrapper,.content__graph:hover .option__hoverMenuWrapper
	{
	display: flex;
}

/* --------------------------------------forceLayout--------------------------------------- */
.forceLayout {
	height: 100% !important;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.forceLayout__menu {
	height: 0%;
}

.forceLayout__content {
	heigth: 100%;
}

.forceLayout__content {
	cursor: grab;
}

.forceLayout__content foreignObject:hover {
	width: 200%;
}

.forceLayout__relativeBoard {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	flex-direction: column;
}

.forceLayout__relativeBoard div {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	cursor: pointer;
	width: 100%;
}

/* --------------------------------------heatMap--------------------------------------- */
.tagHeatMap {
	height: 100%;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.tagHeatMap__content {
	cursor: pointer;
}

.tagHeatMap__content {
	cursor: grab;
}

.graph__tooltip {
	display: fixed;
}

.tooltip__content {
	display: flex;
	flex-direction: column;
}

.tooltip__content>div {
	display: flex;
	align-items: center;
}

/* --------------------------------------tagInfo--------------------------------------- */
.tagInfo {
	height: 100%;
}

.mobileVer .tagInfo {
	display: flex;
	align-items: center;
}

.tagAnalysis .tagInfo__content {
	width: 100%;
	height: 100%;
}

#tagInfoCarousel {
	height: 100%;
}

#tagInfoCarousel .carousel-inner {
	height: 100%
}

#tagInfoCarousel .carousel-item {
	height: 100%
}

#tagInfoCarousel .tagInfo__infoWrapper {
	height: 100%;
}

.tagInfo__desc {
	cursor: pointer;
	font-weight: bold;
}

.tagInfo__tagRank .tagInfo__desc {
	cursor: default;
	font-weight: bold;
}

/* --------------------------------------wordCloud--------------------------------------- */
.board__wordCloud {
	min-height: 100%;
}

.wordCloud {
	height: 100%;
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
}

.wordCloud__content {
	cursor: grab;
	position: relative;
}

.wordCloud__scrollWrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 1;
	cursor: pointer;
	/* outline: 3px solid grey; */
	/* outline-offset: -10px; */
	background: lightgrey;
}

.wordCloud__menu>.option {
	height: 100%;
}

.wordCloudChanger {
	position: relative;
	height: 100%;
	width: 100%;
}

.wordCloudChanger .wordCloudChanger__menu {
	height: 10%;
	display: flex;
	align-items: center;
}

.wordCloudChanger .wordCloudChanger__menu>span {
	margin-right: 5px;
}

.wordCloudChanger .wordCloudChanger__content {
	height: 90%;
}

.wordCloudChanger__content [data-slide] {
	height: 100%;
	display: none;
}

.wordCloudChanger__content [data-slide].show {
	display: flex;
}

/* .wordCloudChanger .wordCloudChanger__item {
	height: 100%;
} */

/*--------------------------------------tagAnalysis--------------------------------------- */
.tagAnalysis {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* --------------------------------------radarChart--------------------------------------- */
.radarChart {
	height: 100%;
}

.option__radarChart {
	display: flex !important;
}

.option__timeUnit {
	margin-right: 4px;
}

.option__timeUnit.selected {
	background-color: #28a745;
}
/* --------------------------------------boardPercentageChart--------------------------------------- */
.boardPercentageChart {
	/* display: flex;
	align-items: center;
	width: 100%; */
	
}

.boardPercentageChart__menu {
	height: 10%;
}

.boardPercentageChart__content {
	height: 90%;
}

/* --------------------------------------categoricalChart--------------------------------------- */
.categoricalChart__footer {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* --------------------------------------articleNumChart--------------------------------------- */
.articleNumChart__value {
	font-weight: bolder;
	font-size: large;
}

.articleNumChart__compare,.articleNumChart__average {
	font-size: 80%;
	font-weight: 400;
}
/* --------------------------------------tagAnalysisCarousel--------------------------------------- */
#tagAnalysisCarousel {
	height: 100%;
	width: 100%;
}

#tagAnalysisCarousel [class*=carousel-control] {
	position: absolute;
	height: 30%;
	background: transparent;
	border: 0;
	color: black;
	font-size: 2rem;
}

#tagAnalysisCarousel .carousel-control-prev {
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
}

#tagAnalysisCarousel .carousel-control-next {
	left: 100%;
	top: 50%;
	transform: translate(-100%, -50%);
}

/* --------------------------------------tagRankList--------------------------------------- */
.tagRankList .list-group-item {
	display: flex;
	align-items: center;
	justify-content: space-around;
	overflow-y: hidden;
	height: 100%;
}

.tagRankList__tag {
	cursor: pointer;
	box-shadow: 1px 1px black;
}

.tagRankList__tag:active {
	box-shadow: none;
}

.tagRankList__inner {
	display: flex;
	overflow: hidden;
	height: 95%; /*indicator 5%  */
}

@media screen and (min-width:960px) {
	.tagRankList .tagRankList__item {
		margin-right: 0;
		flex: 0 0 calc(100%/ 3);
	}
	.tagRankList__indicators {
		width: 20vw;
		justify-content: center;
	}
}

@media screen and (max-width:959px) {
	.tagRankList .tagRankList__item {
		margin-right: 0;
		flex: 0 0 calc(100%);
	}
	.tagRankList__indicators {
		width: 70vw;
	}
}

.tagRankList .tagRankList__item {
	margin-right: 0;
}

.mobileVer .tagRankList__inner {
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
}

.mobileVer .tagRankList__inner>.tagRankList__item {
	width: 100%;
	scroll-snap-align: start;
	flex: 1 0 100vw;
}

.tagRankList .carousel-item {
	display: block;
}

.tagRankList .carousel-control-prev,.tagRankList .carousel-control-next {
	width: 5vw;
	height: 5vw;
	top: 50%;
	position: absolute;
	border-radius: 50%;
	background: lightgrey;
	display: block;
	transform: translate(-50%, 0%);
	border: 0;
}

.tagRankList .list-group {
	margin: 0.5em;
	height: 100%;
}

.tagRankList__indicators {
	z-index: 15;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	list-style: none;
	height: 5%;
	overflow: hidden;
	padding: 0;
	align-items: center;
	margin: auto !important;
	padding: 0;
}

.mobileVer .tagRankList__indicators {
	overflow-x: scroll;
	overflow-y: hidden;
}

.tagRankList__indicators li {
	margin-right: 5px;
	margin-left: 5px;
	height: 100%;
	cursor: pointer;
}

.tagRankList__indicators li.active {
	color: #17a2b8;
}

.tagRankList__indicators li {
	color: #6c757d;
}

.carousel-inner {
	padding: 1rem;
}