@charset "EUC-KR";

/*------------------------ chartModal */
#chartModal {
	padding: 0 !important;
}

#chartModal .modal-dialog {
	width: 100%;
	max-width: none;
	height: 100%;
	margin: 0;
}

.modal .option__showModal {
	display: none; /*모달에 있을땐 모달 띄우기 버튼 보이지 않기  */
}

#chartModal .modal-body {
	height: 100vh;
	padding: 0rem 1rem 0rem 1rem;
}

#chartModal [data-dismiss=modal] {
	position: absolute;
	left: 85%;
	top: 5%;
	z-index: 9999;
}

/* --------------------------relativeBoardModal */
#relativeBoardMenu {
	display: none;
	position: fixed;
	z-index: 9999;
}

.relativeBoardMenu__boardName {
	padding: 0px 10px 0px 10px;
}

.relativeBoardMenu__siteName a {
	color: white;
}

/*----------------------------------------------tagMenu  */
.tagMenu,#relativeBoardMenu {
	width: 35vw;
}

@media screen and (max-width: 767px) {
	.tagMenu,#relativeBoardMenu {
		width: 97vw;
	}
}

@media screen and (min-width: 768px) {
	.tagMenu,#relativeBoardMenu {
		min-width: 450px;
	}
}

.tagMenu__tagName,.tagMenu__boardName {
	font-weight: bold;
}

.tagMenu__header {
	padding: 0px 5px;
	display: flex;
	justify-content: end;
}

.tagMenu__articleCategory {
	display: flex;
	margin: 5px 0 5px 0;
}

.tagMenu__articleCategory .btn {
	font-weight: bolder;
}

.tagMenu__articleCategory .btn.active {
	border-bottom: 3px solid #0f4c81;
}

.tagMenu__menu {
	cursor: pointer;
}

.tagMenu__menu:hover {
	background: rgba(0, 0, 0, .03);
}

.tagMenu {
	display: none;
	position: fixed;
	z-index: 9999;
}

.tagMenu__loadMore {
	text-align: center;
	cursor: pointer;
	display: none;
	margin-bottom: 1rem;
	display: none;
}

.tagMenu__lastPage {
	text-align: center;
	display: none;
	margin-bottom: 1rem;
}

.tagMenu__articles {
	overflow-x: hidden;
}

#tagMenu__newsContent,#tagMenu__communityContent {
	max-height: 30vmax !important;
}

.mobileVer #tagMenu__newsContent,.mobileVer #tagMenu__communityContent {
	max-height: 60vh !important;
}

/* -----------------------------------------------기타 */
.ui-autocomplete {
	z-index: 9999; /*wordcloud 자동완성 결과 모달 위에서도 보여주기 위해  */
}

/* #content__fixedMenu {
	position: fixed;
	left: 85%;
	top: 85%;
	opacity: 0.5
}

#content__fixedMenu>button {
	width: 55px;
	height: 55px;
}

#content__fixedMenu:hover {
	opacity: 1
}
 */