@charset "EUC-KR";

@media screen and (max-width: 767px) {
	.option>[class*=option__].show {
		display: inline-flex;
	}
}

@media screen and (min-width: 768px) {
	.option>[class*=option__].show {
		display: flex;
	}
}

.option {
	position: relative;
	width: 100%;
	color: white;
	margin-bottom: auto;
}

.option__time {
	align-self: flex-start;
}

.option>[class*=option] {
	margin-top: 3px;
	display: none;
}

[data-simple-menu=true] .option__times>div {
	display: flex;
	flex-wrap: wrap;
}

[data-simple-menu=false] .option__times>div {
	display: flex;
	flex-direction: column;
}

.option>div {
	display: flex;
}

.option>div div[class*=option__] {
	margin-right: 4px;
	margin-top: 2.5px;
	margin-bottom: 2.5px;
	align-items: center;
}

.option>div span[class*=option__] {
	margin-right: 4px;
}

.option__times {
	width: 100%;
	overflow-x: auto;
	white-space: nowrap;
}

.option__times>div {
	flex-wrap: nowrap !important;
}

.option__times .scroll-content {
	padding-bottom: 10px;
}

.option__times .scrollbar-inner {
	display: block;
	overflow-y: hidden !important;
	white-space: nowrap;
}

[data-simple-menu=true] .scroll-content {
	display: flex;
	align-items: center;
}

.option__times .scrollbar-inner .scroll-y {
	display: none;
}

.option__limitWrapper {
	display: flex;
}

.option__tagWrapper {
	white-space: nowrap;
	width: 100%;
}

.option__tagWrapper .scroll-content {
	padding-bottom: 10px;
}

.option__wordCloud {
	align-items: center;
}

.option__resetTime {
	display: none;
	align-items: center;
	justify-content: center;
}

.option>div {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.option__tag {
	margin-left: 2px;
	margin-right: 2px;
}

.badge[class*=option] {
	cursor: pointer;
}

.option__tag--selected {
	color: #fff;
}

.option__resetTag {
	display: flex;
	align-items: start;
	justify-content: center;
}

.option__sites--disabled {
	display: none !important;
}

.option__sites>[class*=col] {
	display: inline-flex;
}

.option__sites>div:nth-child(1) {
	align-items: flex-start; /*사이트 전체  */
}

.option__sites>div:nth-child(2) {
	flex-wrap: wrap;
}

.option__sites .option__site {
	margin-right: 4px;
}

.option__site {
	color: white;
	position: relative;
	opacity: 0.4;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.option__site--selected {
	opacity: 1;
}

.option__week {
	display: inline-block;
}

[class*=option]>.fa-check {
	display: none;
}

[class*=option][class*=selected]>.fa-check {
	display: inline-block;
}

.option__week--selected {
	color: #fff;
}

.option__limit--selected,.option__time--selected,.option__tag--selected,.option__label--selected {
	background-color: #28a745;
}

.option__time>i {
	display: none;
}

.option__time--selected>i {
	display: inline-block;
}
/* .option .badge[class*=selected] {
	background-color: #28a745;
} */
.option .badge,.search__cloneWrapper .badge,.search__keywordMenu .badge {
	box-shadow: 1px 1px 1px black;
}

.search__clone {
	margin-top: 15px;
}

.option .badge:active {
	box-shadow: 0 0 0 black;
}

.option__month {
	display: inline-block;
}

.option__months {
	margin: 0 0 0 0 !important;
	display: none;
}

.option__months--selected {
	display: inline-flex !important;
	flex-wrap: wrap;
}

.option__monthCheck {
	display: none;
}

.option__month--checked .option__monthCheck {
	display: inline-block;
}

.option__weeks {
	margin: 0 0 0 0 !important;
	border-radius: .25rem !important;
	padding: 2px 6px 2px 6px;
	display: none;
	border-radius: .25rem !important;
}

.option__weeks--selected {
	display: inline-flex !important;
}

.option__week--disabled {
	display: none;
	/* opacity: 0.5;
	
	cursor: default; */
}

.option__searchBtn {
	justify-content: end;
	padding-right: 0;
}

.option__searchBtnWrapper {
	display: flex;
}

.option__searchBtnWrapper>div {
	display: flex;
	align-items: center;
}

.option__weekWrapper,.option__monthWrapper,.option__yearWrapper {
	display: flex; /*위 .option>div 조건에 안걸리는것들  */
	margin-top: 3px;
}

.option__hoverMenuWrapper {
	float: right;
	display: none;
	position: absolute;
	left: 80%;
	top: 90%;
	z-index: 1;	
	flex-wrap:nowrap !important;
}

.option__hoverMenuWrapper>button {
	z-index: 1;
	margin: 0 1px 0 0;
}