@charset "EUC-KR";

}
@font-face {
	font-family: 'NanumGothic-Bold';
	src: url('fonts/NanumGothic-Bold.ttf');
}

@font-face {
	font-family: NanumGothic-ExtraBold;
	src: url('fonts/NanumGothic-ExtraBold.ttf');
}

@font-face {
	font-family: BorisBlackBloxx;
	src: url('fonts/BorisBlackBloxx.ttf');
}

@media screen and (max-height: 560px) {
	.toast {
		width: 70vw;
		height: auto;
	}
	.tutorial-button,.dot-container {
		bottom: 10vh;
	}
}

@media screen and (min-height:561px) {
	.toast {
		width: 99vw;
		height: auto;
	}
	.tutorial-button,.dot-container {
		bottom: 13vh;
	}
}

@media screen and (max-width: 767px) {
	.main_logo {
		width: 250px;
	}
}

@media screen and (min-width: 768px) {
	.main_logo {
		width: 300px;
	}
}

.main_logo--mini {
	width: 100px;
}

.main_logo {
	margin-bottom: 2rem;
}

.btn-primary {
	background-color: #0f4c81;
	border-color: #0f4c81;
	color: white;
}

.btn-primary:hover {
	background-color: #658DC6;
	border-color: #658DC6;
}

.btn-primary:disabled {
	background-color: #0f4c81;
	border-color: #0f4c81;
	color: white;
}

.text-primary {
	color: #0f4c81;
}

.bg-primary {
	background-color: #0f4c81;
}

.btn-outline-primary {
	border-color: #0f4c81;
}

.btn-secondary {
	background-color: #84898C;
	border-color: #84898C;
}

.btn-secondary:hover {
	background-color: #A49E9E;
	border-color: #A49E9E;
}

.btn-secondary:disabled {
	background-color: #84898C;
	border-color: #84898C;
}

.text-secondary {
	color: #84898C;
}

.bg-secondary {
	background-color: #84898C;
}

.btn-outline-secondary {
	border-color: #84898C;
}

.btn-selected {
	background-color: #F5B895;
	border-color: #F5B895;
}

.bg-selected {
	background-color: #F5B895;
}

.text-selected {
	color: #F5B895;
}

.btn-outline-selected {
	border-color: #F5B895;
}

.btn-selected:hover {
	background-color: #F3D5AD;
	border-color: #F3D5AD;
}

body {
	font-family: 'NanumGothic', 'serif';
}

legend {
	padding: 0.2em 0.5em;
	font-size: 1.2em;
	font-weight: bold;
}

.font-small {
	font-size: small;
}

.font-medium {
	font-size: medium;
}

.font-big {
	font-size: x-large;
}

.font-boldAndBig {
	font-size: x-large;
	font-weight: bolder;
}

.font-bold {
	font-weight: bold;
}

.font-subTitle {
	font-size: larger;
	font-weight: bolder;
	color: #333333;
}

.font-title {
	font-size: x-large;
	font-weight: bolder;
}

.font-disc {
	font-size: 1.1em;
}

.short-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.site-icon {
	width: 30px;
	height: 30px;
}

.cursor-pointer {
	cursor: pointer;
}

.icon_size {
	margin-right: 0;
	font-size: 3em;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.table td,.table th {
	vertical-align: middle;
}

.toastContainer {
	display: none;
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
	height: auto;
	z-index: 1060;
	left: 50%;
	transform: translate(-50%, 0);
}

.horizontal-list {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.horizontal-list>li {
	float: left;
}

.div-loadingSpinner {
	display: none;
	left: 50vw;
	top: 50vh;
	z-index: 9999;
	width: 4rem;
	height: 4rem;
	margin-top: -2rem;
	margin-left: -2rem;
	position: fixed;
}

[class*=evalItem]:not(span) {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	font-size: 12px;
	opacity: 0.8;
}

/* evalItem css  */
[class*=evalItem]:hover,[class*=evalItem--selected] {
	opacity: 1;
}

[class*=evalItem].NEGATIVE {
	color: #dc3545;
	border-color: #dc3545 !important;
}

[class*=evalItem].POSITIVE {
	color: #28a745;
	border-color: #28a745 !important;
}

[class*=evalItem--selected].POSITIVE {
	color: #fff;
	background-color: #28a745 !important;
	border-color: #28a745 !important;
}

[class*=evalItem--selected].NEGATIVE {
	color: #fff;
	background-color: #dc3545 !important;
	border-color: #dc3545 !important;
}

.times {
	display: flex;
	flex: 0 0 100%;
	max-width: 100%;
	margin-left: 0;
	margin-right: 0;
	flex-wrap: wrap;
	flex: 0 0 100%;
}

.times>div:nth-of-type(2) {
	display: flex;
	align-items: center;
	justify-content: center;
}

[data-month='1'] {
	background: #526E82;
}

[data-month='1'][data-week='1'] {
	background: #5D8392;
}

[data-month='1'][data-week='2'] {
	background: #6998A3;
}

[data-month='1'][data-week='3'] {
	background: #75AFB3;
}

[data-month='1'][data-week='4'] {
	background: #81C3C0;
}

[data-month='1'][data-week='5'] {
	background: #8dd3c7;
}

[data-month='2'] {
	background: #7E9968;
}

[data-month='2'][data-week='1'] {
	background: #96AD77;
}

[data-month='2'][data-week='2'] {
	background: #AEC285;
}

[data-month='2'][data-week='3'] {
	background: #C8D694;
}

[data-month='2'][data-week='4'] {
	background: #E3EBA4;
}

[data-month='2'][data-week='5'] {
	background: #ffffb3;
}

[data-month='3'] {
	background: #7E6E84;
}

[data-month='3'][data-week='1'] {
	background: #8C7D96;
}

[data-month='3'][data-week='2'] {
	background: #998CA7;
}

[data-month='3'][data-week='3'] {
	background: #A69BB8;
}

[data-month='3'][data-week='4'] {
	background: #B2ABC9;
}

[data-month='3'][data-week='5'] {
	background: #bebada;
}

[data-month='4'] {
	background: #997F3E;
}

[data-month='4'][data-week='1'] {
	background: #AD8348;
}

[data-month='4'][data-week='2'] {
	background: #C28552;
}

[data-month='4'][data-week='3'] {
	background: #D6855C;
}

[data-month='4'][data-week='4'] {
	background: #E98367;
}

[data-month='4'][data-week='5'] {
	background: #fb8072;
}

[data-month='5'] {
	background: #494A82;
}

[data-month='5'][data-week='1'] {
	background: #545C93;
}

[data-month='5'][data-week='2'] {
	background: #5E6FA3;
}

[data-month='5'][data-week='3'] {
	background: #6984B3;
}

[data-month='5'][data-week='4'] {
	background: #759AC3;
}

[data-month='5'][data-week='5'] {
	background: #80b1d3;
}

[data-month='6'] {
	background: #939934;
}

[data-month='6'][data-week='1'] {
	background: #ADAD3C;
}

[data-month='6'][data-week='2'] {
	background: #C2B645;
}

[data-month='6'][data-week='3'] {
	background: #D6B84E;
}

[data-month='6'][data-week='4'] {
	background: #EBB758;
}

[data-month='6'][data-week='5'] {
	background: #fdb462;
}

[data-month='7'] {
	background: #3E8B3A;
}

[data-month='7'][data-week='1'] {
	background: #519C43;
}

[data-month='7'][data-week='2'] {
	background: #67AD4C;
}

[data-month='7'][data-week='3'] {
	background: #7FBD55;
}

[data-month='7'][data-week='4'] {
	background: #98CE5F;
}

[data-month='7'][data-week='5'] {
	background: #b3de69;
}

[data-month='8'] {
	background: #997B79;
}

[data-month='8'][data-week='1'] {
	background: #AD8A8B;
}

[data-month='8'][data-week='2'] {
	background: #C19AA0;
}

[data-month='8'][data-week='3'] {
	background: #D5ABB7;
}

[data-month='8'][data-week='4'] {
	background: #E9BCCE;
}

[data-month='8'][data-week='5'] {
	background: #fccde5;
}

[data-month='9'] {
	background: #828282;
}

[data-month='9'][data-week='1'] {
	background: #949494;
}

[data-month='9'][data-week='2'] {
	background: #A5A5A5;
}

[data-month='9'][data-week='3'] {
	background: #B6B6B6;
}

[data-month='9'][data-week='4'] {
	background: #C8C8C8;
}

[data-month='9'][data-week='5'] {
	background: #d9d9d9;
}

[data-month='10'] {
	background: #744A5C;
}

[data-month='10'][data-week='1'] {
	background: #83556E;
}

[data-month='10'][data-week='2'] {
	background: #925F81;
}

[data-month='10'][data-week='3'] {
	background: #A06A95;
}

[data-month='10'][data-week='4'] {
	background: #AF75A9;
}

[data-month='10'][data-week='5'] {
	background: #bc80bd;
}

[data-month='11'] {
	background: #758F7F;
}

[data-month='11'][data-week='1'] {
	background: #84A18D;
}

[data-month='11'][data-week='2'] {
	background: #94B49A;
}

[data-month='11'][data-week='3'] {
	background: #A5C6A6;
}

[data-month='11'][data-week='4'] {
	background: #B7D9B5;
}

[data-month='11'][data-week='5'] {
	background: #ccebc5;
}

[data-month='12'] {
	background: #72993C;
}

[data-month='12'][data-week='1'] {
	background: #8EAD46;
}

[data-month='12'][data-week='2'] {
	background: #ACC24F;
}

[data-month='12'][data-week='3'] {
	background: #CCD65A;
}

[data-month='12'][data-week='4'] {
	background: #EBEB64;
}

[data-month='12'][data-week='5'] {
	background: #ffed6f;
}