@charset "EUC-KR";

.setting-border-right {
	border-right: 2px solid black;
}

.setting-menu {
	/* margin-left:10px; */
	margin-top: 50px;
	list-style-type: square;
	position: relative;
}

.setting-menu-items {
	cursor: pointer;
	font-size:1.2em;
}

/* @media screen and (max-width: 992px) {
	
	.setting-menu-items {
		font-size: 1.1em;
		font-weight: bolder;
		margin-top: 3px;
		margin-bottom: 3px;
	}
	
	.setting-menu {
	margin-right:10px;
	margin-top: 50px;
	list-style-type: square;
	position: relative;
	margin-left:-15px;
}
	
}



.setting-menu-items::after {
	content: "";
	width: 100%;
	position: block;
	border-bottom: 2px solid black;
	display: block;
	margin-top: 8px;
}

.setting-menu li:last-child:after {
	
	width: 0%;
} */