@charset "EUC-KR";

.div-loginPanel {
	display: flex;
	justify-content: center;
	flex-direction: column;
	
}

.div-loginPanel>div {
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
}

.div-loginPanel>div>button {
	width: 60vw;
}

.div-logoContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40vh;
}

.mobileVer>.div-logoContainer {
	height: 30vh;
}

